@import "sass/mixins";

.section1 {
  background-image: url("bgs/wooden-sec1-bg.svg");
  background-color: var(--color-light-green);
  background-repeat: no-repeat;
  color: white;
}
.section1__header { 
  padding-top: 150px;
  
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  
  @include sm() {
    padding-top: 95px;
    font-size: 32px;
  }
}

.section1__description {
  margin-top: 24px;
  padding-bottom: 150px; 
  
  @include sm() {
    padding-bottom: 50px;
  }
}

.section2 {
  background-color: var(--color-light-gray);
}
.section2__container {
  color: black;
  padding-bottom: 150px;
  padding-top: 150px;
 
  @include sm() {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;
    
    @include sm() {
      font-size: 24px;
    }
  }
  
  h2:last-child {
    margin-top: 50px;
  }
}
::deep .section2__container > .paragraph__container {
  margin-top: 24px; 
  margin-left: 108px;
  max-width: 756px; 
  
  @include md() {
    margin-left: 0;
  }
}

.section2__eurocode-calcs-header__margin-top {
  margin-top: 50px;
}

.section3__container {
  color: black;
  padding-bottom: 150px;
  padding-top: 150px;

  @include sm() {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;

    @include sm() {
      font-size: 24px;
    }
  }

  h2:last-child {
    margin-top: 50px;
  }
}

::deep .section3__container > .paragraph__container {
  margin-top: 24px;
  margin-left: 108px;
  max-width: 756px;

  @include md() {
    margin-left: 0;
  }
}