@page "/wooden-structures"
@using Frontend.Components.Common

<PageTitle>Home</PageTitle>

<section class="section1">
    <div class="section1__container container-10">
        <h1 class="section1__header">Деревянные конструкции</h1>
        <p class="section1__description">Калькуляторы для расчёта элементов деревянных конструкций</p>
    </div>
</section>

<section class="section2">
    <div class="section2__container container-10">
        <h2 class="section2__default-calcs-header">
            Калькуляторы использующие методику расчёта СП 64.13330.2017
        </h2>
        <Paragraph>
            Расчет перекрытия с деревянным каркасом - читать описание...
        </Paragraph>
        <Paragraph>
            Расчет деревянных балок — Прямоугольного сечения под действием равномерного распределенной и состредоточенной нагрузки
        </Paragraph>
        <Paragraph>
            Расчет несущей способности нагельного соединения в деревянных конструкциях
        </Paragraph>
        <h2 class="section2__eurocode-calcs-header section2__eurocode-calcs-header__margin-top">
            Калькуляторы использующие методику расчёта ТКН EN 1995-1-1-2009 (EuroCode 5)
        </h2>
        <Paragraph>
            Несущая способность на сдвиг соединений на металлических крепежных деталях (гвоздях)
        </Paragraph>
    </div>
</section>

<section class="section3">
    <div class="section3__container container-10">
        <h2 class="section2__default-calcs-header">
            Калькуляторы использующие методику расчёта СП 64.13330.2017
        </h2>
        <Paragraph>
            Конструкция перекрытия с деревянным каркасом
        </Paragraph>
    </div>
</section>