@page "/Beam"

<section class="section1">
    <div class="container section1__container">
        <div class="container-10 section1__header-box">
            <h1>Расчет деревянных балок — Прямоугольного сечения под действием равномерного распределенной и состредоточенной нагрузки</h1>
        </div>
        <div class="section1__inbox">
            <div class="inbox__preview">
                
            </div>
            <div class="inbox__form">
                
            </div>
        </div>
    </div>
</section>

@code {
    
}