<footer class="footer">
    <div class="footer__container container">
        <div class="footer__blocks">
            <div class="footer__block">
                <h2>Калькуляторы</h2>

                <p>Деревянные конструкции</p>
                <p>Стропильные системы</p>
                <p>Фундаменты и основания</p>
                <p>Нагрузки и воздействия</p>
                <p>Тепловая защита зданий</p>

            </div>
            <div class="footer__block">
                <h2>Дополнительно</h2>
                <p>На заметку самостройщику</p>
                <p>Авторизация и подписка</p>
                <p>FORUMHOUSE</p>
                <img src="/icons/vk.svg" alt=""/>
            </div>
        </div>
        <div class="footer__creator-notation">
            <p>Vadim Godunko: vgodunko@gmail.com</p>
            <p>©2017-2020</p> 
        </div>
    </div>
</footer>