<footer>
    <div class="container">
        <div class="footer-blocks">
            <div class="footer-block">
                <h2>Калькуляторы</h2>

                <p>Деревянные конструкции</p>
                <p>Стропильные системы</p>
                <p>Фундаменты и основания</p>
                <p>Нагрузки и воздействия</p>
                <p>Тепловая защита зданий</p>

            </div>
            <div class="footer-block">
                <h2>Дополнительно</h2>
                <p>На заметку самостройщику</p>
                <p>Авторизация и подписка</p>
                <p>FORUMHOUSE</p>
                <img src="/icons/vk.svg" alt=""/>
            </div>
        </div>
        <div class="creator-notation">
            <p>© 2017-2020</p> <p>Vadim Godunko: vgodunko@gmail.com</p>
        </div>
    </div>
</footer>