<nav>
    <div class="container">
        <a href="/"><img class="main-icon" src="/icons/main-icon-with-text.svg" alt="mycalcs"></a>
        <div class="right-block">
            <div class="burger">
                <img class="burger-icon" src="/icons/burger-icon.svg" alt="">
                <div class="dropdown-content">
                    <div class="dropdown-container">
                        <NavLink class="dropdown-link" href="/wooden-structures">
                            Деревянные конструкции
                        </NavLink>
                        <NavLink class="dropdown-link" href="/roof-systems">
                            Стропильные системы
                        </NavLink>
                        <NavLink class="dropdown-link" href="/foundations">
                            Фундаменты и основания
                        </NavLink>
                        <NavLink class="dropdown-link" href="/loads-and-impacts">
                            Нагрузки и воздействия
                        </NavLink>
                        <NavLink class="dropdown-link" href="/termal-protection">
                            Тепловая защита зданий
                        </NavLink>
                        <hr/>
                        <NavLink class="dropdown-link" href="/blog">
                            На заметку самостройщику
                        </NavLink>
                    </div>
                </div>
            </div>

            <svg class="account-icon" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.1 26.6C42.1 30.7274 38.9039 34 35.05 34C31.1961 34 28 30.7274 28 26.6C28 22.4726 31.1961 19.2 35.05 19.2C38.9039 19.2 42.1 22.4726 42.1 26.6Z" stroke="white" stroke-width="2"/>
                <path d="M21.0324 50.8C21.5218 43.2756 27.4934 37.4 34.7 37.4C41.9066 37.4 47.8782 43.2756 48.3676 50.8H48.3664H48.309H48.2516H48.1941H48.1367H48.0793H48.0219H47.9645H47.907H47.8496H47.7922H47.7348H47.6773H47.6199H47.5625H47.5051H47.4477H47.3902H47.3328H47.2754H47.218H47.1605H47.1031H47.0457H46.9883H46.9309H46.8734H46.816H46.7586H46.7012H46.6438H46.5863H46.5289H46.4715H46.4141H46.3566H46.2992H46.2418H46.1844H46.127H46.0695H46.0121H45.9547H45.8973H45.8398H45.7824H45.725H45.6676H45.6102H45.5527H45.4953H45.4379H45.3805H45.323H45.2656H45.2082H45.1508H45.0934H45.0359H44.9785H44.9211H44.8637H44.8063H44.7488H44.6914H44.634H44.5766H44.5191H44.4617H44.4043H44.3469H44.2895H44.232H44.1746H44.1172H44.0598H44.0023H43.9449H43.8875H43.8301H43.7727H43.7152H43.6578H43.6004H43.543H43.4855H43.4281H43.3707H43.3133H43.2559H43.1984H43.141H43.0836H43.0262H42.9688H42.9113H42.8539H42.7965H42.7391H42.6816H42.6242H42.5668H42.5094H42.452H42.3945H42.3371H42.2797H42.2223H42.1648H42.1074H42.05H41.9926H41.9352H41.8777H41.8203H41.7629H41.7055H41.648H41.5906H41.5332H41.4758H41.4184H41.3609H41.3035H41.2461H41.1887H41.1313H41.0738H41.0164H40.959H40.9016H40.8441H40.7867H40.7293H40.6719H40.6145H40.557H40.4996H40.4422H40.3848H40.3273H40.2699H40.2125H40.1551H40.0977H40.0402H39.9828H39.9254H39.868H39.8105H39.7531H39.6957H39.6383H39.5809H39.5234H39.466H39.4086H39.3512H39.2938H39.2363H39.1789H39.1215H39.0641H39.0066H38.9492H38.8918H38.8344H38.777H38.7195H38.6621H38.6047H38.5473H38.4898H38.4324H38.375H38.3176H38.2602H38.2027H38.1453H38.0879H38.0305H37.973H37.9156H37.8582H37.8008H37.7434H37.6859H37.6285H37.5711H37.5137H37.4563H37.3988H37.3414H37.284H37.2266H37.1691H37.1117H37.0543H36.9969H36.9395H36.882H36.8246H36.7672H36.7098H36.6523H36.5949H36.5375H36.4801H36.4227H36.3652H36.3078H36.2504H36.193H36.1355H36.0781H36.0207H35.9633H35.9059H35.8484H35.791H35.7336H35.6762H35.6188H35.5613H35.5039H35.4465H35.3891H35.3316H35.2742H35.2168H35.1594H35.102H35.0445H34.9871H34.9297H34.8723H34.8148H34.7574H34.7H34.6426H34.5852H34.5277H34.4703H34.4129H34.3555H34.298H34.2406H34.1832H34.1258H34.0684H34.0109H33.9535H33.8961H33.8387H33.7812H33.7238H33.6664H33.609H33.5516H33.4941H33.4367H33.3793H33.3219H33.2645H33.207H33.1496H33.0922H33.0348H32.9773H32.9199H32.8625H32.8051H32.7477H32.6902H32.6328H32.5754H32.518H32.4605H32.4031H32.3457H32.2883H32.2309H32.1734H32.116H32.0586H32.0012H31.9438H31.8863H31.8289H31.7715H31.7141H31.6566H31.5992H31.5418H31.4844H31.427H31.3695H31.3121H31.2547H31.1973H31.1398H31.0824H31.025H30.9676H30.9102H30.8527H30.7953H30.7379H30.6805H30.623H30.5656H30.5082H30.4508H30.3934H30.3359H30.2785H30.2211H30.1637H30.1062H30.0488H29.9914H29.934H29.8766H29.8191H29.7617H29.7043H29.6469H29.5895H29.532H29.4746H29.4172H29.3598H29.3023H29.2449H29.1875H29.1301H29.0727H29.0152H28.9578H28.9004H28.843H28.7855H28.7281H28.6707H28.6133H28.5559H28.4984H28.441H28.3836H28.3262H28.2688H28.2113H28.1539H28.0965H28.0391H27.9816H27.9242H27.8668H27.8094H27.752H27.6945H27.6371H27.5797H27.5223H27.4648H27.4074H27.35H27.2926H27.2352H27.1777H27.1203H27.0629H27.0055H26.948H26.8906H26.8332H26.7758H26.7184H26.6609H26.6035H26.5461H26.4887H26.4313H26.3738H26.3164H26.259H26.2016H26.1441H26.0867H26.0293H25.9719H25.9145H25.857H25.7996H25.7422H25.6848H25.6273H25.5699H25.5125H25.4551H25.3977H25.3402H25.2828H25.2254H25.168H25.1105H25.0531H24.9957H24.9383H24.8809H24.8234H24.766H24.7086H24.6512H24.5938H24.5363H24.4789H24.4215H24.3641H24.3066H24.2492H24.1918H24.1344H24.077H24.0195H23.9621H23.9047H23.8473H23.7898H23.7324H23.675H23.6176H23.5602H23.5027H23.4453H23.3879H23.3305H23.273H23.2156H23.1582H23.1008H23.0434H22.9859H22.9285H22.8711H22.8137H22.7563H22.6988H22.6414H22.584H22.5266H22.4691H22.4117H22.3543H22.2969H22.2395H22.182H22.1246H22.0672H22.0098H21.9523H21.8949H21.8375H21.7801H21.7227H21.6652H21.6078H21.5504H21.493H21.4355H21.3781H21.3207H21.2633H21.2059H21.1484H21.091H21.0336H21.0324Z" stroke="white" stroke-width="2"/>
            </svg>
        </div>
    </div>
</nav>