@model BeamModel
@{
    ViewData["Title"] = "расчёт балки";
}

<div class="container">
    @{
        string[] results = Model.ToString().Split("\n");
    }
    <h4>
        @foreach(var r in results)
        {
            @r
            <br />
        }
    </h4>
</div>