.table-text {
    font-size: 0.8rem !important;
}

.form-label {
    margin-bottom: 0 !important;
}

.link-no-style:active,
.link-no-style:hover,
.link-no-style {
    text-decoration: none;
    color: #212529;
}

.buttons-margin {
    margin-left: 12px;
}
.but-ms-md {
    margin-left: 13px;
}

.UMChoise {
    padding-right: 2rem;
    width:95px !important;
}

@media (max-width:768px) {
    .but-ms-md{
        margin-left:0px;
    }
}
