section.section-1 {
  background-color: var(--color-dark-green);
  
  .container {
    position: relative;
    height: 100%;
    overflow-y: auto;
    h1 {
      padding-top: 150px;
      font-size: 64px;
      font-weight: 600;
      max-width: 948px;
    }
    
    p.section-1-text {
      margin-top: 40px;
    }
    
    button {
      margin-top: 40px;
      display: flex;
      width: 192px;
      height: 48px;
      padding: 12px 49px;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: Montserrat, serif;
      font-size: 16px;

      background-color: rgba(0,0,0,0);
      border: 2px solid var(--3, #E9E8E4)
    }
    
    img.house {
      position: absolute;
      max-width: 979px;
      top: 54px;
      right: 0;
      height: auto;
    }
    
    .text-block {
      color: black;
      margin-top: 150px ;
      margin-bottom: 150px ;
      background-color: white;

      .text-block-container {
        padding: 50px 108px;

        p.text-block-p:last-child{
          margin-top: 24px;
        }
      }
    }
  }
}

section.section-2 {
  background-color: var(--color-light-brown);
  
  .container {
    margin-bottom: -200px;
    h2 {
      text-align: center;
      color: black;
      padding-top: 150px;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
    } 
    .section-blocks-container {
      padding-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .section-blocks-break {
        flex-basis: 100%;
        width: 0;
      }
    }
    
  }
}

.container-10 {
  max-width: 1056px;
  margin: auto;
}

.container-8 {
  max-width: 840px;
  margin: auto;
}

section.section-3 {
  background-color: #fff;
  
  .container {
    padding-top: 343px;
  }
  .block1 {
    display: flex;
    flex-direction: row;
    padding-left: 129px;
    max-width: 1014px;
    .text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 53px;
      p {
        color: black;
      }
      a {
        color: var(--color-light-green);
        text-decoration: none;
      }
    }
  }
  .block2-auth {
   
    color: black;
    position: relative;
    margin-top: 165px;
   
    .auth-header{
      z-index: 1;
      position: relative;
      h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .abilities {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .ability {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 407px;
        
        .ability-block {
          display: flex;
          flex-shrink: 0;
          height: 84px;
          width: 84px;
          background-color: var(--color-light-green);
          h3 {
            margin: auto;
            color: white;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
          }
        }
        
        p {
          margin-left: 24px;
          z-index: 1;
        }
      } 
    }

    img.background-person {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
    
    .info-notation {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      width: 500px;
      p {
        margin-left: 24px;
        z-index: 1;
        font-size: 16px;
        a {
          text-decoration: none;
          color: var(--color-light-green);
          font-style: normal;
          font-weight: 400;
        }
      }
    }
  }
  .block3-chats{
    
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    
    p {
      margin-left: 36px;
      a {
        color: var(--color-light-green);
      }
    }
  }
}