.section1 {
  background-color: var(--color-dark-green);
}

.section1__container {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.section1__header {
  padding-top: 150px;
  font-size: 64px;
  font-weight: 600;
  max-width: 948px;
}
@media screen and (max-width: 767px) {
  .section1__header {
    font-size: 32px;
  }
}
@media screen and (max-width: 479px) {
  .section1__header {
    padding-top: 0;
  }
}

.section1__house {
  position: absolute;
  max-width: 979px;
  max-height: 550px;
  top: 54px;
  right: 0;
  height: auto;
}
@media screen and (max-width: 959px) {
  .section1__house {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .section1__house {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 90px;
  }
}
@media screen and (max-width: 479px) {
  .section1__house {
    position: relative;
    top: auto;
  }
}

.section1__description {
  margin-top: 40px;
}

.section1__button {
  margin-top: 40px;
  display: flex;
  width: 192px;
  height: 48px;
  padding: 12px 49px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--3, #E9E8E4);
}
@media screen and (max-width: 479px) {
  .section1__button {
    font-size: 13px;
  }
}

.section1__calculators-description {
  margin-top: 150px;
  margin-bottom: 150px;
}
@media screen and (max-width: 479px) {
  .section1__calculators-description {
    margin-bottom: 0;
    margin-left: -24px;
    margin-right: -24px;
  }
}

.calculators-description {
  color: black;
  background-color: white;
  position: relative;
  z-index: 1;
}

.calculators-description__container {
  padding: 50px 100px;
}
@media screen and (max-width: 767px) {
  .calculators-description__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 479px) {
  .calculators-description__container {
    padding: 100px 24px;
  }
}

.calculators-description__text:last-child {
  margin-top: 24px;
}

.section2 {
  background-color: var(--color-light-brown);
}

.section2__container {
  margin-bottom: -200px;
}
@media screen and (max-width: 479px) {
  .section2__container {
    margin-bottom: 0;
    padding-bottom: 100px;
  }
}

.section2__header {
  text-align: center;
  color: black;
  padding-top: 150px;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 479px) {
  .section2__header {
    font-size: 24px;
  }
}

.section2__blocks-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section2__blocks-container .section-blocks-break {
  flex-basis: 100%;
  width: 0;
}

.section3 {
  background-color: #fff;
}

.section3__container {
  padding-top: 343px;
}
@media screen and (max-width: 479px) {
  .section3__container {
    padding-top: 100px;
  }
}

.section3__self-builder-note {
  display: flex;
  flex-direction: row;
  max-width: 1014px;
}

.self-builder-note__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 53px;
  z-index: 1;
}
.self-builder-note__description p {
  color: black;
}
.self-builder-note__description a {
  color: var(--color-light-green);
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .self-builder-note__description a {
    line-break: normal;
    padding-top: 8px;
  }
}
@media screen and (max-width: 479px) {
  .self-builder-note__description {
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .self-builder-note__image {
    position: absolute;
    right: 24px;
  }
}

.section3__auth-block {
  color: black;
  position: relative;
  margin-top: 165px;
}
@media screen and (max-width: 479px) {
  .section3__auth-block {
    margin-top: 77px;
  }
}

.auth-block__header {
  z-index: 1;
  position: relative;
}
.auth-block__header h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 479px) {
  .auth-block__header h2 {
    font-size: 24px;
  }
}

.auth-block__abilities {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .auth-block__abilities {
    flex-direction: column;
    margin-top: 24px;
  }
}

.abilities__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 407px;
}
.abilities__block p {
  margin-left: 24px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .abilities__block:last-child {
    margin-top: 24px;
  }
}

.abilities__nuber-block {
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  height: 84px;
  width: 84px;
  background-color: var(--color-light-green);
}
.abilities__nuber-block h3 {
  margin: auto;
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

.auth-block__info-notation {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.auth-block__info-notation div {
  z-index: 1;
}
.auth-block__info-notation div p {
  margin-left: 24px;
  white-space: normal;
  font-size: 16px;
}
.auth-block__info-notation div p a {
  text-decoration: none;
  color: var(--color-light-green);
  font-style: normal;
  font-weight: 400;
}

.auth-block__background-person {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.section3__chats {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}
@media screen and (max-width: 479px) {
  .section3__chats {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.section3__chats p {
  margin-left: 36px;
}
.section3__chats p a {
  color: var(--color-light-green);
}

/*# sourceMappingURL=Home.razor.css.map */
