@page "/"

<PageTitle>Home</PageTitle>

<section class="section1">
    <div class="section1__container container">
        <img class="section1__house" src="icons/bg-house.png" alt=""/>
        <h1 class="section1__header"> Калькуляторы для инженерно-строительных расчетов</h1>
        <p class="section1__description"> Более +20 самых актуальных вычислений</p>
        <button class="section1__button">рассчитать</button>
        
        
        <div class="section1__calculators-description calculators-description">
            <div class="calculators-description__container">
                <p class="calculators-description__text">Сервис предоставляет возможность самостоятельно выполнять инженерно-строительные расчёты, необходимые при проектировании жилых домов.</p>
                <p class="calculators-description__text">Расчёты базируются на российских нормативных документах. Несколько калькуляторов в разделе Деревянные конструкции используют методику расчёта EN 1995-1-1-2009 (EuroCode 5).</p>
            </div>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="container">
        <h2>Калькуляторы разделены на несколько разделов:</h2>
        
        <div class="section-blocks-container">
            <SectionBlock Title="01"
                          ShortDescription="деревянные конструкции"
                          GoHref="/wooden-structures"/>
            <SectionBlock Title="02"
                          ShortDescription="стропильные системы"
                          GoHref="/roof-systems"/>
            <div class="section-blocks-break"></div>
            <SectionBlock Title="03"
                          ShortDescription="фундаменты и основания"
                          GoHref="/foundations"/>
            <SectionBlock Title="04"
                          ShortDescription="нагрузки и воздействия"
                          GoHref="/loads-and-impacts"/>
            <SectionBlock Title="05"
                          ShortDescription="тепловая защита зданий"
                          GoHref="/termal-protection"/>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="container">
        <div class="block1">
            <img src="icons/notepad.svg" alt=""/>
            <div class="section1__calculators-description">
                <p>Помимо калькуляторов на сайте имеется раздел с различными статьями по особенностям расчёта отдельных узлов, элементов и конструкций на странице</p>
                <a href="/blog">На заметку самостройщику</a>
            </div>
        </div>
        
        <div class="container-10 block2-auth">
            <div class="auth-header">
                <h2>Авторизованные пользователи имеют возможность:</h2> 
            </div>
            
            <div class="abilities">
                <div class="ability">
                    <div class="ability-block">
                        <h3>01</h3>
                    </div>
                    <p>задать значения некоторых параметров для расчётов</p>
                </div>
                <div class="ability">
                    <div class="ability-block">
                        <h3>02</h3>
                    </div>
                    <p>оформить подписку</p>
                </div>
            </div>
            <div class="info-notation">
                <img src="icons/info-light-brown.svg" alt="">
                
                <p>Более подробная информация приведена в статье <a href="/blog/subscription">Авторизация и подписка</a>.</p>
                
            </div>
            <img class="background-person" src="icons/body-light-green.svg" alt=""/>
        </div>
        
        <div class="container-8 block3-chats">
            <img src="/icons/question.svg" alt="">
            <p>Если у Вас возникли вопросы или есть предложения, то можно воспользоваться темой на форуме <a href="https://www.forumhouse.ru/threads/424675">FORUMHOUSE</a> или группой <a href="https://vk.com/club205227623">Вконтакте</a>.</p>
        </div>
    </div>
</section>