.section1 {
  background-color: var(--color-dark-green);
}

.section1__container {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.section1__header {
  padding-top: 150px;
  font-size: 64px;
  font-weight: 600;
  max-width: 948px;
}
@media screen and (max-width: 767px) {
  .section1__header {
    font-size: 32px;
  }
}
@media screen and (max-width: 479px) {
  .section1__header {
    padding-top: 0;
  }
}

.section1__house {
  position: absolute;
  max-width: 979px;
  max-height: 550px;
  top: 54px;
  right: 0;
  height: auto;
}
@media screen and (max-width: 959px) {
  .section1__house {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .section1__house {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 90px;
  }
}
@media screen and (max-width: 479px) {
  .section1__house {
    position: relative;
    top: auto;
  }
}

.section1__description {
  margin-top: 40px;
}

.section1__button {
  margin-top: 40px;
  display: flex;
  width: 192px;
  height: 48px;
  padding: 12px 49px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--3, #E9E8E4);
}
@media screen and (max-width: 479px) {
  .section1__button {
    font-size: 13px;
  }
}

.section1__calculators-description {
  margin-top: 150px;
  margin-bottom: 150px;
}
@media screen and (max-width: 479px) {
  .section1__calculators-description {
    margin-bottom: 0;
    margin-left: -24px;
    margin-right: -25px;
  }
}

.calculators-description {
  color: black;
  background-color: white;
}

.calculators-description__container {
  padding: 50px 100px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .calculators-description__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 479px) {
  .calculators-description__container {
    padding: 100px 24px;
  }
}

.calculators-description__text:last-child {
  margin-top: 24px;
}

section.section-2 {
  background-color: var(--color-light-brown);
}
section.section-2 .container {
  margin-bottom: -200px;
}
section.section-2 .container h2 {
  text-align: center;
  color: black;
  padding-top: 150px;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
section.section-2 .container .section-blocks-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.section-2 .container .section-blocks-container .section-blocks-break {
  flex-basis: 100%;
  width: 0;
}

.container-10 {
  max-width: 1056px;
  margin: auto;
}

.container-8 {
  max-width: 840px;
  margin: auto;
}

section.section-3 {
  background-color: #fff;
}
section.section-3 .container {
  padding-top: 343px;
}
section.section-3 .block1 {
  display: flex;
  flex-direction: row;
  padding-left: 129px;
  max-width: 1014px;
}
section.section-3 .block1 .section1__calculators-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 53px;
}
section.section-3 .block1 .section1__calculators-description p {
  color: black;
}
section.section-3 .block1 .section1__calculators-description a {
  color: var(--color-light-green);
  text-decoration: none;
}
section.section-3 .block2-auth {
  color: black;
  position: relative;
  margin-top: 165px;
}
section.section-3 .block2-auth .auth-header {
  z-index: 1;
  position: relative;
}
section.section-3 .block2-auth .auth-header h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
section.section-3 .block2-auth .abilities {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section.section-3 .block2-auth .abilities .ability {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 407px;
}
section.section-3 .block2-auth .abilities .ability .ability-block {
  display: flex;
  flex-shrink: 0;
  height: 84px;
  width: 84px;
  background-color: var(--color-light-green);
}
section.section-3 .block2-auth .abilities .ability .ability-block h3 {
  margin: auto;
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}
section.section-3 .block2-auth .abilities .ability p {
  margin-left: 24px;
  z-index: 1;
}
section.section-3 .block2-auth img.background-person {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
section.section-3 .block2-auth .info-notation {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 500px;
}
section.section-3 .block2-auth .info-notation p {
  margin-left: 24px;
  z-index: 1;
  font-size: 16px;
}
section.section-3 .block2-auth .info-notation p a {
  text-decoration: none;
  color: var(--color-light-green);
  font-style: normal;
  font-weight: 400;
}
section.section-3 .block3-chats {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}
section.section-3 .block3-chats p {
  margin-left: 36px;
}
section.section-3 .block3-chats p a {
  color: var(--color-light-green);
}

/*# sourceMappingURL=Home.razor.css.map */
