.navbar-toggler{
    margin-right:15px;
}
.navbar-login-button {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(255,255,255,.55);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}
.navbar-login-button:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}

.navbar-brand {
    padding-left: 15px;
}
.nav-item {
    padding-left:15px;
}
.nabar-logo {
    order: 1;
}
.login {
    order: 3;
}
.navbar-links {
    order: 2;
}
@media screen and (max-width: 992px) {
    .nav-item {
        padding-left: 88px;
    }
    .nabar-logo{
        order:1;
    }
    .login{
        order:2;
    }
    .navbar-links{
        order:3;
    }
}
